.filmFrames {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding-block: 2em;
}

.filmContainer {
    overflow-y: scroll;
    flex-grow: 1;
}

.filmWrapper {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}


@media (width > 1000px) {
    .filmFrames {
        padding-block: unset;
        overflow: hidden;
        height: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        position: absolute;
        right: 0;
    }

    .filmContainer {
        width: min-content;
    }   
    
    .filmWrapper {
        flex-direction: column;
        flex-wrap: nowrap;
    }    
}

